<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>

    <script type="text/javascript">

        function getPurchaseList() {
            var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

            var purchaseNo = $("#purchaseNo").val();
            var spInvId = $("#spInvId").val();
            var prNo = "purchaseNo=" + purchaseNo + "&";
            var spInv = "spInvId=" + spInvId;

            var host = window.location.host
            var url = "http://" + host + contextPath + "/purchaseReturn/viewReturnList?" + prNo + spInv;
            $(location).attr('href', url); // Using this
        };

    </script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <p>
                <a th:href="@{/adminpanel/dashboard/}">Home</a> / <a
                    th:href="@{/purchaseReturn/viewReturnForm}">Purchase Return List</a>
            </p>
            <h1 style="text-align: center">Purchase Return List</h1>

            <form id="app" name="viewReturnForm" role="form">
                <div class="layout--drugs__search col-md-6">
                    <div class="form-group col-md-4">
                        <label> Purchase No </label>
                        <input th:type="text" class='form-control' th:value="${purchaseNo}" id="purchaseNo"
                               name="purchaseNo">
                    </div>
                    <div class="form-group col-md-4">
                        <label> SP Invoice ID </label>
                        <input th:type="text" class='form-control'
                               th:value="${spInvId == null || spInvId == '' ? '' : spInvId}" id="spInvId"
                               name="spInvId">
                    </div>
                    <div class="col-auto">
                        <input type="button" value="Search" class="btn btn-primary" onclick="getPurchaseList()"
                               name="search"/>
                    </div>
                </div>
            </form>

        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr class="info">
                                    <th colspan="11">Purchase List</th>
                                </tr>
                                <tr>
                                    <th>Sl</th>
                                    <th>Supplier Name</th>
                                    <th>Supplier Inv. ID</th>
                                    <th>Total Amount</th>
                                    <th>Purchase Date</th>
                                    <th>Return Date</th>
                                    <th>Action</th>

                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="purchaseReturn,iter : ${purchaseReturnList}">
                                    <td th:text="${iter.count}"></td>
                                    <td th:text="${purchaseReturn?.getPurchaseMaster().getSuplierName()}"></td>
                                    <td th:text="${purchaseReturn?.getPurchaseMaster().getSpInvId()}"></td>
                                    <td th:text="${purchaseReturn?.getPurchaseMaster().getTotalAmount()}"></td>
                                    <td th:text="${purchaseReturn?.getPurchaseMaster().getInvDate()}"></td>
                                    <td th:text="${purchaseReturn.getCreateTime()}"></td>
                                    <td>
                                        <a th:href="@{/purchaseReturn/showDetailsList/{id}(id=${purchaseReturn.getId()})}">
                                            Show
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>