<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="text-align:center">
                Requisition
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <form role="form" id="add_requisition" method="post" th:action="@{/adminpanel/requisitionmaster/saverequisitionmaster}" th:object="${requisitionmaster}" >
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <!-- /.box-header -->
                        <!-- form start -->

                            <div class="box-body">

                              <table class="table table-condensed">
                                  <tr th:each="requisition, stat : *{tempRequisitionDetalis}">
                                      <input type="hidden" th:field="*{tempRequisitionDetalis[__${stat.index}__].productItem.version}" th:value="0">

                                      <td @click.prevent="removeRow(row)"><i  style="display: none; margin-top: 32px; cursor: pointer;" class="fa fa-times"  aria-hidden="true"></i></td>
                                      <td>

                                          <div class="form-group">
                                              <label>Product Name</label>
                                              <select @change="productIdChange($event)"  th:field="*{tempRequisitionDetalis[__${stat.index}__].productItem.id}" class="form-control input-sm" th:id="${'productItem.id-'+stat.index}">
                                                  <option value="">None</option>

                                                  <option th:each="product: ${productList}" th:value="${product.getId()}" th:text="${product.getProductName()}"></option>

                                              </select>

                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-group">
                                              <label for="resquantity">Reserve Quantity</label>
                                              <input readonly v-model="avaiableStock" required type="number"  id="resquantity" class="form-control input-sm" autofocus="autofocus">
                                          </div>
                                      </td>

                                      <td>
                                          <div class="form-group">
                                              <label>Quantity</label>
                                              <input  required type="number" v-model.number="quantity" @input="onQuantityChange" th:field="*{tempRequisitionDetalis[__${stat.index}__].quantity}"  th:id="${'quantity-'+stat.index}" class="form-control input-sm qty1" autofocus="autofocus">
                                          </div>
                                      </td>

                                      <td>
                                          <div class="form-group">
                                              <label >Measure</label>
                                              <select  th:field="*{tempRequisitionDetalis[__${stat.index}__].unitOfMeasure}" class="form-control input-sm" th:id="${'unitOfMeasure-'+stat.index}">
                                                  <option value="KILOGRAM">KILOGRAM</option>
                                                  <option value="GRAMS">GRAMS</option>
                                                  <option value="LITER">LITER</option>
                                                  <option value="PIECE">PIECE</option>
                                              </select>

                                          </div>
                                      </td>

                                      <td>
                                          <div class="form-group">
                                              <label >Price</label>
                                              <input   required type="number" v-model.number="price"  @input="onPriceChange" th:field="*{tempRequisitionDetalis[__${stat.index}__].prices}"  th:id="${'prices-'+stat.index}" class="form-control input-sm pri1" autofocus="autofocus">
                                          </div>
                                      </td>

                                      <td>
                                          <div class="form-group">
                                              <label>Comment</label>
                                              <input  required type="text" th:field="*{tempRequisitionDetalis[__${stat.index}__].comment}"  th:id="${'comment-'+stat.index}" class="form-control input-sm">
                                          </div>
                                      </td>
                                  </tr>

                                  <tr v-for="(row, index) in rows">
                                      <td @click.prevent="removeRow(row)"><i style="color: red; margin-top: 32px; cursor: pointer;" class="fa fa-times"  aria-hidden="true"></i></td>

                                      <td>
                                          <div class="form-group">
                                              <label>Product Name</label>
                                              <select @change="productMasterChange($event, row)" v-model="row.product" class="form-control input-sm" :id="'productItem.id-'+row.id" :name="'tempRequisitionDetalis['+row.id+'].productItem.id'">
                                                  <option value="">None</option>

                                                  <option th:each="product: ${productList}" th:value="${product.getId()}" th:text="${product.getProductName()}"></option>
                                                  <input type="hidden" :id="'tempRequisitionDetalis'+row.id+'.productItem.version'" :name="'tempRequisitionDetalis['+row.id+'].productItem.version'" value="0">

                                              </select>
                                          </div>
                                      </td>
                                      <td>
                                          <div class="form-group">
                                              <label for="resquantity">Reserve Quantity</label>
                                              <input v-model="row.resquantity" readonly required type="number"  id="resquantity" class="form-control input-sm" autofocus="autofocus">
                                          </div>

                                      </td>

                                      <td>
                                          <div class="form-group">
                                              <label>Quantity</label>
                                              <input v-model="row.quantity" required type="number" @input="onQuantityChange" :id="'quantity-'+row.id" class="form-control input-sm qty1" autofocus="autofocus" :name="'tempRequisitionDetalis['+row.id+'].quantity'" value="0">
                                          </div>
                                      </td>

                                      <td>
                                          <div class="form-group">
                                              <label >Measure</label>
                                              <select  v-model="row.measure" class="form-control input-sm" :id="'unitOfMeasure-'+row.id" :name="'tempRequisitionDetalis['+row.id+'].unitOfMeasure'">
                                                  <option value="KILOGRAM">KILOGRAM</option>
                                                  <option value="GRAMS">GRAMS</option>
                                                  <option value="LITER">LITER</option>
                                                  <option value="PIECE">PIECE</option>
                                              </select>

                                          </div>
                                      </td>

                                      <td>
                                          <div class="form-group">
                                              <label >Price</label>
                                              <input v-model="row.price" required type="number"  @input="onPriceChange" :id="'prices-'+row.id" class="form-control input-sm pri1"  :name="'tempRequisitionDetalis['+row.id+'].prices'" value="0.0">
                                          </div>
                                      </td>

                                      <td>
                                          <div class="form-group">
                                              <label>Comment</label>
                                              <input v-model="row.comment"  required type="text" :id="'comment-'+row.id" class="form-control input-sm"  :name="'tempRequisitionDetalis['+row.id+'].comment'" value="">
                                          </div>
                                      </td>
                                  </tr>

                              </table>
                                <button style="float: right;" @click.prevent="addRow" class="btn btn-sm btn-success"> <i class="fa fa-plus" aria-hidden="true"></i>Add</button>
                            </div>
                            <div class="box-footer">
                                <p><span style="font-size: 13px;" class="label label-success">Total :</span> {{totalPrice}}</p>
                                <input type="hidden" th:field="*{totalPrices}" v-model="totalPrice">
                            </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="comment">Comment:</label>
                                        <textarea th:field="*{comment}" class="form-control" rows="5" id="comment"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-3" style="padding: 56px;">
                                    <button class="btn btn-primary">Sumbit</button>
                                    <button class="btn btn-primary btn-danger">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            </form>
            <script>

                var example = new Vue({
                    el: '#add_requisition',
                    data:{
                        rows:[],
                        current:0,
                        totalPrice:0,
                        price:0,
                        quantity:0,

                        avaiableStock:0,
                    },
                    methods:{
                        productIdChange: function(e){
                             var host = window.location.host;
                            this.$http.get('http://'+host+'/adminpanel/requisitionmaster/api/'+ e.target.value, {credentials : true, headers:{
                                    'X-CSRF-TOKEN' : window.csrfToken,
                                }})
                                .then(res => {
                                    this.avaiableStock = res.body;
                                })
                                .catch(err => {
                                    console.log(err);
                                })

                        },

                        productMasterChange: function(e, row){
                             var host = window.location.host;
                            this.$http.get('http://'+host+'/adminpanel/requisitionmaster/api/'+ e.target.value, {credentials : true, headers:{
                                    'X-CSRF-TOKEN' : window.csrfToken,
                                }})
                                .then(res => {
                                    console.log(res.body);
                                    row.resquantity = res.body;
                                })
                                .catch(err => {
                                    console.log(err);
                                })
                        },

                        addRow : function () {
                            this.rows.splice(this.current+1, 0, {id: this.current+1, product: "", measure:"KILOGRAM", price:0, quantity:0, resquantity:0});
                            this.current++;
                        },
                        removeRow : function(row){
                            var index = this.rows.indexOf(row);
                            this.rows.splice(index, 1);


                            var price = document.querySelector('#prices-'+row.id).value;
                            var quantity = document.querySelector('#quantity-'+row.id).value;
                            var sum = price * quantity;
                            this.totalPrice -= sum;
                        },

                        onPriceChange: function () {
                            var sum = 0;
                            var prices = new Array();
                            var quantities = new Array();

                            $(".qty1").each(function(){
                                var quantity = +$(this).val();
                                quantities.push(quantity);
                            });

                            $(".pri1").each(function(){
                                var price = +$(this).val();
                                prices.push(price);
                            });

                            for(var i=0; i<prices.length; i++){
                                var temp = prices[i] * quantities[i];
                                sum += temp;
                            }

                            this.totalPrice = sum;
                        },

                        onQuantityChange: function () {
                            var sum = 0;
                            var prices = new Array();
                            var quantities = new Array();

                            $(".qty1").each(function(){
                                var quantity = +$(this).val();
                                quantities.push(quantity);
                            });

                            $(".pri1").each(function(){
                                var price = +$(this).val();
                                prices.push(price);
                            });

                            for(var i=0; i<prices.length; i++){
                                var temp = prices[i] * quantities[i];
                                sum += temp;
                            }

                            this.totalPrice = sum;
                        }
                    },
                })
            </script>
        </section>
        <!-- /.content -->
    </div>
</div>
</body>
</html>