<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          List Zone
        </h1>
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <!-- /.box-header -->
              <div class="box-body">
                <table  class="table table-bordered table-hover table-condensed">
                  <thead>
                  <tr>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Number Of Users</th>
                  </tr>
                  </thead>
                  <tbody>
                   	<tr th:each="branch, iterator : ${branchesList}">
                        <td>
                            <a th:href="@{/adminpanel/branches/branchesedit/{id}(id=${branch.getId()})}" class="btn btn-xs btn-success"> <i class="fa fa-pencil-square-o"></i> </a>
                        </td>
                   		<td th:text="${branch.getName()}"></td>
                        <td th:text="${branch.getUserSet().size()}"></td>
                   	</tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</div>
</body>
</html>