<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          User List
        </h1>
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <!-- /.box-header -->
              <div class="box-body">
                <table  class="table table-bordered table-hover table-condensed">
                  <thead>
                  <tr>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>Branch Name</th>
                  </tr>
                  </thead>
                  <tbody>
                   	<tr th:each="user : ${userlist}">
                   		<td>
	                   		<a th:href="@{/adminpanel/user/useredit/{id}(id=${user.getId()})}" class="btn btn-xs btn-success"> <i class="fa fa-pencil-square-o"></i></a>
	                   		<a th:href="@{/adminpanel/user/userdelete/{id}(id=${user.getId()})}" class="btn btn-xs btn-danger"> <i class="fa fa-trash-o"></i> </a>
                   		</td>
                   		<td th:text="${user.getFullName(user)}"></td>
                   		<td th:text="${user.getEmail()}"></td>
                   		<td th:text="${user.getMobileNumber()}"></td>
                   		<td th:text="${user?.getBranch()?.getName()}"></td>
                   	</tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</div>
</body>
</html>