<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<p>
					<a th:href="@{/adminpanel/dashboard/}">Home</a> / <a
						th:href="@{/sales/salesList}">Sales List</a>
				</p> 
				<h1 style="text-align: center">Sales Details</h1>

			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<!-- /.box-header -->
							<div class="box-body">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											
											<th>Sales No.</th>	
											<th>Sold By</th>										
											<th style="text-align: right;">Sales Amount</th>
											<th>Sales Date</th>
											<th>Create Time</th>
											

										</tr>
									</thead>									
											    
									<tbody>
										<tr>
											
											<td th:text="${salesMaster.salesNo}"></td>	
											<td th:text="${salesMaster?.createdBy}"></td>									
											<td th:text="${#numbers.formatDecimal(salesMaster.totalAmount, 0, 'COMMA', 2, 'POINT')}" 
											style="text-align: right;"></td>											
											<td th:text="${salesMaster?.salesDate}"></td>
											<td th:text="${salesMaster?.createTime}"></td>
											
										</tr>

										<tr class="info">
											<th colspan="6">Drug List</th>
										</tr>

										<tr>
											<th>SL</th>
											<th>Drug Name</th>											
											<th style="text-align: right;">Qty</th>
											<th>Unit Price</th>
											<th>Sold Amount</th>
											
											
										</tr>


										<tr th:each="pd,iter : ${salesMaster.salesDetails}">
											<td th:text="${iter.count}"></td>
											<td><span th:text="${pd.drug.name}"></span> <small><sup><span
														th:text="${pd.drug.dosageForm.name}"> <span
															th:text="${pd.drug.strength}"></span></span></sup></small> in <em><small>
														<span th:text="${pd.drug.generic.name}"></span>
												</small></em><br /> <span th:text="${pd.drug.company.name}"></span></td>
											
											<td th:text="${pd.salesQty}" style="text-align: right;"></td>
											<td th:text="${pd?.drug.price}"></td>		
											<td th:text="${pd?.salesAmount}"></td>																			
											
											</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>
</html>